@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Oleo+Script+Swash+Caps:400,700|Russo+One:400|Ubuntu:400,500,700|Open+Sans:400,600,700&amp;subset=latin,latin-ext);

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #ede9df url(../../img/preloader.gif) 50% 50% no-repeat;
}

/* Navbar */
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
  margin: 0;
  position: fixed;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
}

.navbar-inner {
  line-height: 40px;
  opacity: .9;
}

.navbar .brand {
  font-family: 'Russo One', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

ul.nav {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
ul.nav li {
  line-height: 40px;
}
.navbar .nav > li > a {
  padding: 10px 20px;
  outline: 0;
}
ul.nav li.divider-vertical {
  height: 60px;
  margin: 0;
}
.navbar-inverse .divider-vertical {
  border-left-color: #000000;
  border-right-color: #2a2a2a;
}
.navicon {
  margin-right: 8px;
}
.navbar .brand {
  color: #2C7BAB;
  text-shadow: 0 1px 0 rgba(255,188,191,0.2);
}
.navbar .nav > li > a {
  color: #555;
  text-shadow: 0 1px 0 rgba(255,188,191,0.2);
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  color: #D82546;
}
.navbar .nav > .nav-home.active > a, .navbar .nav > .nav-home.active > a:hover, .navbar .nav > .nav-home.active > a:focus {
  color: #2C7BAB;
}
.navbar .nav > .nav-portfolio.active > a, .navbar .nav > .nav-portfolio.active > a:hover, .navbar .nav > .nav-portfolio.active > a:focus {
  color: #FEAB58;
}
.navbar .nav > .nav-contact.active > a, .navbar .nav > .nav-contact.active > a:hover, .navbar .nav > .nav-contact.active > a:focus {
  color: #273C67;
}
.navbar .btn-navbar {
  margin-top: 15px;
}

.progress {
  position: relative;
  margin-bottom: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 2px 1px 0 rgba(130,29,50,0.75);
}
.progress > span {
  position: absolute;
  right: 10px;
  color: #821D32;
  font-weight: 700;
}
.btn-small {
font-size: 14px;
line-height: 24px;
}
.btn-small > i { margin-top: 3px!important; }

/* Sections */
#intro {
  /*background: transparent url(../../img/intro_bg.jpg) 50% 50% no-repeat;*/
  /*background: transparent url(../../img/tt/2.jpg) 50% 50% no-repeat;*/
  /*background: url(../../img/tt/2.jpg) no-repeat center center fixed;*/
  background: url(../../img/intro_bg.jpg) no-repeat -100px 0 fixed;
  padding-right: 20px;
 	padding-left: 20px;
 	min-height: 460px;
  border-bottom: 1px solid #A31D35;
}
.intro-first-text, .intro-second-text, .intro-last-text {
  font-family: 'Roboto Slab', serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  margin-bottom: 10px;
}
.intro-first-text {
  font-size: 86px;
  line-height: 90px;
  font-weight: 700;
  color: #D82546;
}
.intro-second-text {
  font-size: 48px;
  line-height: 54px;
  font-weight: 400;
  color: #FFF;
}
.intro-second-text em {
  color: #2c7bab;
  font-style: normal;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.intro-last-text {
  font-size: 48px;
  line-height: 54px;
  font-weight: 400;
  color: #FFF;
}
@media (max-width: 480px) {
  .intro-first-text {
      font-size: 48px;
      line-height: 52px;
  }
  .intro-second-text {
      font-size: 32px;
      line-height: 38px;
  }
  .intro-last-text {
      font-size: 32px;
      line-height: 38px;
  }
}
.bottom-arrow {
  background-color: #D82546;
  width: 70px;
  height: 55px;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  left: 48%;
  border-radius: 65px 65px 0 0;
  text-align: center;
  box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.7);
}
.bottom-arrow i {
  font-size: 48px;
  color: #821D32;
  text-shadow: 0 1px 0 rgba(255,188,191,0.2);
}
.bottom-arrow a, .bottom-arrow a:hover { text-decoration: none; outline: none }

#about {
  background: #D82546 url(../../img/about_bg_pattern.png) center top repeat-x;
padding: 0 20px;
  min-height: 400px;
  border-top: 1px solid #F4647E;
  border-bottom: 1px solid #A31D35;
  box-shadow: 0 -2px 8px 0 rgba(0,0,0,0.7);
}
#about .container {
  position: relative;
  padding: 30px 0;
}
#about p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FCD4DA;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  text-align: justify;
}

.about-me {
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 1px 1px 0 rgba(255,188,191,0.2);
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 54px;
  font-weight: 700;
  color: #821D32;
}

#who-two {
  background-color: rgba(255,188,191,0.1);
  margin: 30px -20px 0 -20px;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
#who-two div[class*="me-cloud"] { position: relative }
.cloud-left {
  background: transparent url('../../img/cloud-left.png') left top no-repeat;
  position: absolute;
  top: 0;
  right: -230px;
  width: 600px;
  height: 335px;
  z-index: 1;
}
.cloud-right {
  background: transparent url('../../img/cloud-right.png') left top no-repeat;
  position: absolute;
  top: 0;
  left: -210px;
  width: 600px;
  height: 335px;
  z-index: 1;
}

#who-two p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FCD4DA;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  text-align: justify;
}

.picture {
  background-color: #D82546;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 100% 100% 100% 100%;
  display: inline-block;
  height: 350px;
  margin: -30px 0;
  overflow: hidden;
  padding: 18px;
  position: relative;
  width: 350px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.2) inset;
}
.picture:after {
  border: 16px solid rgba(216,37,70,0.45);
  border-radius: 100% 100% 100% 100%;
  bottom: 18px;
  content: "";
  left: 18px;
  position: absolute;
  right: 18px;
  top: 18px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}
.picture * { border-radius: 100% 100% 100% 100% }
.picture .holder {
  height: 350px;
  overflow: hidden;
  width: 350px;
}

#what, #whatMobile {
  margin-top: 30px;
  margin-bottom: 20px;
}

.skill-title {
  margin: 0;
  color: #FFF;
  text-shadow: 1px 1px 0 #821D32;
}

ul.services {
  margin: 10px 0 0;
  list-style-type: none;
}
ul.services li {
  margin: 14px 0;
}
ul.services li .service-icon {
  display: table-cell;
  vertical-align: top;
  width: 60px;
  height: 60px;
}
ul.services li .service-icon .circle {
  width: 60px;
  height: 60px;
  padding: 4px;
  background-color: #821D32;
  border-radius: 100% 100% 100% 100%;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.8);
}
ul.services li .service-icon div {
  background-color: #D82546;
  border-radius: 100% 100% 100% 100%;
  width: 52px;
  height: 52px;
  padding: 4px;
}
ul.services li .service-icon i {
  display: inline-block;
  background-color: #821D32;
  color: #FFBCBF;
  border-radius: 100% 100% 100% 100%;
  width: 52px;
  height: 52px;
  line-height: 54px;
  font-size: 32px;
  text-align: center;
}
ul.services li .service-text {
  display: table-cell;
  vertical-align: top;
  padding: 0 0 0 16px;
}
ul.services li .service-text h3 {
  color: #FFF;
  font-size: 24px;
  line-height: 24px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 6px;
}
ul.services li .service-text p {
  font-size: 15px;
  line-height: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  color: #DDDDDD;
  text-align: justify;
}

.process-icon {
  color: #FFF;
  font-size: 128px;
  line-height: 128px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.process-icon-small {
  font-size: 48px;
  text-shadow: 1px 1px 0 rgba(255,188,191,0.2);
  color: #821D32;
}
.process-text {
  color: #FFF;
  font-family: 'Oleo Script Swash Caps', cursive;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  margin-top: 32px;
  margin-bottom: 32px;
}
.process-description {
  color: #FFF;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#portfolio-detail {
  background: #C88947 url(../../img/portfolio_detail_bg_pattern.png) center top repeat-x;
padding: 20px;
  border-top: 1px solid #FFCC65;
  border-bottom: 1px solid #DB8A56;
  box-shadow: 0 -2px 8px 0 rgba(0,0,0,0.3);
  display: none;
}

#portfolio-details .work-details { display: block }

.portfolio-slider {
  width: 90%;
  min-height: 320px;
  overflow: hidden;
  position: relative;
  margin: 12px auto;
  background-color: #FFF;
  list-style-type: none;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.5);
  border-radius: 5px;
}
.portfolio-slider li {
  position: absolute;
  top: 0;
  left: -400px;
  z-index: 1;
  opacity: 0;
}
.portfolio-slider li:first-child {
  left: 0;
  opacity: 1;
}
.portfolio-slider li img { border-radius: 4px }
.portfolio-slider-control { text-align: center }
.portfolio-slider-control a {
  display: inline-block;
  text-decoration: none;
  background: #553C21;
  border: 1px solid #3f2c1b;
  padding: 4px;
  width: 6px;
  height: 6px;
  text-indent: -9999px;
  border-radius: 100% 100% 100% 100%;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.7) inset;
  outline: 0;
}
.portfolio-slider-control a:hover, .portfolio-slider-control a.active { background: #6D5322 }

.work-details { position: relative }
.portfolio-controls {
  position: absolute;
  right: 0;
  bottom: 8px;
}
.portfolio-controls a {
  display: inline-block;
  text-decoration: none;
  color: #553C21;
  font-size: 24px;
  line-height: 24px;
  margin: 0 4px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
}
.portfolio-controls a:hover { color: #eee }
.work-title {
  color: #553C21;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
}
.work-description {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}
.tags {
  list-style: none;
  margin: 20px 0;
  overflow: hidden;
  padding: 0;
}
.tags li { float: left; }
.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #553C21;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}
.tag::before {
  background: #C88947;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}
.tag::after {
  background: #C88947;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
.tag:hover {
  background-color: #553C21;
  color: white;
}
.tag:hover::after {
  border-left-color: #553C21;
}

#portfolio {
  background: #FEAB58 url(../../img/portfolio_bg_pattern.png) center top repeat-x;
padding: 20px;
  min-height: 800px;
  border-top: 1px solid #FFCC65;
  border-bottom: 1px solid #DB8A56;
  box-shadow: 0 -2px 8px 0 rgba(0,0,0,0.3);
}

#portfolio .page-header { border-bottom: 0; }
#portfolio .page-header h1 {
  color: #553C21;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
#portfolio .page-header small {
  color: #FFF;
  text-shadow: -1px -1px 1px rgba(156,62,15,0.5);
}
.portfolio-title {
  color: #553C21;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  margin: 10px 0 30px;
}
#portfolio ul.row { list-style-type: none }
#portfolio ul.row li { margin-bottom: 20px }
#portfolio ul.row li .work-details { display: none }

.work {
  width: 90%;
  margin: 10px;
  float: left;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.5);
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .work {
      width: 85%;
  }
}
.work h4 {
  background: transparent url(../../img/zoom.png) 50% 50% no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200px;
  color: #FFF;
  z-index: 100;
  text-indent: -9999px;
  margin: 0;
  background-color: rgba(0,0,0,0.6);
  box-shadow: 0 1px 2px 0 #000;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Roboto Slab', sans-serif;
  border-radius: 4px;
}
.work img {
  display: block;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}
.work:hover img {
  filter: url("blur.svg#blur");
  filter: blur(2px);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}
.work h2 {
  position: relative;
  padding: 16px 10px 0;
  margin: 0;
  color: #553C21;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
.work p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #bd7f46;
  padding: 0 10px;
  margin-bottom: 6px;
}

#contact {
  background: #273C67 url(../../img/contact_bg_pattern.png) center top repeat-x;
padding: 30px 20px 55px;
  border-top: 1px solid #467AC6;
  box-shadow: 0 -2px 8px 0 rgba(0,0,0,0.5);
}

.contact-big {
  color: #1d1d3b;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 1px 1px 0 rgba(140,159,197,0.2);
}
.contact-small { padding-top: 18px }
.contact-small p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #8C9FC5;
  text-shadow: -1px -1px 0 #1d1d3b;
  text-align: justify;
}
.contact-form {
  margin-top: 30px;
}
.contact-form .input-prepend .add-on {
  color: #8C9FC5;
  font-size: 16px;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,0.35);
  border-color: rgba(0,0,0,0.35);
  height: 40px;
  line-height: 30px;
  padding: 4px 10px;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.1);
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.contact-form input, .contact-form textarea {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0,0,0,0.15);
  border-color: rgba(0,0,0,0.35);
  padding: 8px 6px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5) inset, 0 1px 0 0 rgba(255,255,255,0.1);
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.contact-form input {
  height: 40px;
}
.contact-form textarea {
  height: 140px;
}
.btn-contact {
  color: #8C9FC5;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.1) inset, 0 1px 2px 0 rgba(0,0,0,0.25);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background: #213358; /* Old browsers */
  background: -moz-linear-gradient(top,  #213358 0%, #192743 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#213358), color-stop(100%,#192743)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #213358 0%,#192743 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #213358 0%,#192743 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #213358 0%,#192743 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #213358 0%,#192743 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213358', endColorstr='#192743',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x;
}
.btn-contact:hover,
.btn-contact:focus,
.btn-contact:active,
.btn-contact.active,
.btn-contact.disabled,
.btn-contact[disabled] {
  color: #ffffff;
  background-color: #192743;
}
::-webkit-input-placeholder { color: #8C9FC5; }
:-moz-placeholder { color: #8C9FC5; }
::-moz-placeholder { color: #8C9FC5; }
:-ms-input-placeholder { color: #8C9FC5; }

.contact-infos {
  margin-top: 12px;
  padding-left: 12px;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.contact-info, .contact-icon {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #8C9FC5;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}
.contact-icon {
  margin: 3px 8px 0 0;
  float: left;
}
#form-status {
  position: absolute;
  left: 0;
  top: -30px;
  color: #FF0000;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
  font-size: 16px;
  font-weight: 700;
  display: none;
}

#contact .divider-text { color: #00ACEE; }

.social {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 16px 0;
}

ul.tweets {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0,0,0,0.15);
  border-color: rgba(0,0,0,0.35);
  border-radius: 5px;
  padding: 8px;
  margin: 0;
  height: 78px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5), 0 1px 0 0 rgba(255,255,255,0.1) inset;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
ul.tweets li {
  font-size: 14px;
  height: 78px;
}
ul.tweets li a {
  text-decoration: none;
}

.share-buttons {
  margin-top: 60px;
}

.facebook-share-button {
  background-color: #3B5998;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  float: none;
  height: 45px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
  width: 230px;
}
.facebook-share-button-icon {
  position: absolute;
  margin-left: 9px;
  margin-top: 12px;
  font-size: 22px;
  font-weight: 400;
  color: #FFF;
}
.facebook-share-button-over {
  background: none repeat scroll 0 0 #3B5998;
  border-left: 1px dotted #FFFFFF;
  color: #FFFFFF !important;
  font-family: 'Ubuntu',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 25px;
  line-height: 22px;
  margin-left: 40px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 2px;
  position: absolute;
  text-align: left;
  text-transform: capitalize;
  transition: all 0.4s ease-in-out 0s;
  width: 190px;
  z-index: 150;
}
.facebook-share-button:hover .facebook-share-button-over {
  margin-left: 230px;
  transition: all 0.4s ease-in-out 0s;
}
.facebook-share-button-inner {
  display: block;
  margin-left: 90px !important;
  margin-top: 13px !important;
  position: absolute;
  top: 0;
  z-index: 10;
}
.twitter-tweet-button {
  background-color: #00ACED;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  float: none;
  height: 45px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
  width: 230px;
}
.twitter-tweet-button-icon {
  position: absolute;
  margin-left: 9px;
  margin-top: 12px;
  font-size: 22px;
  font-weight: 400;
  color: #FFF;
}
.twitter-tweet-button-over {
  background: none repeat scroll 0 0 #00ACED;
  border-left: 1px dotted #FFFFFF;
  color: #FFFFFF !important;
  font-family: 'Ubuntu',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 25px;
  line-height: 22px;
  margin-left: 40px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 2px;
  position: absolute;
  text-align: left;
  text-transform: capitalize;
  transition: all 0.4s ease-in-out 0s;
  width: 190px;
  z-index: 150;
}
.twitter-tweet-button:hover .twitter-tweet-button-over {
  margin-left: 230px;
  transition: all 0.4s ease-in-out 0s;
}
.twitter-tweet-button-inner {
  display: block;
  margin-left: 75px !important;
  margin-top: 13px !important;
  position: absolute;
  top: 0;
  z-index: 10;
}
.linkedin-share-button {
  background-color: #4875B4;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  float: none;
  height: 45px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
  width: 230px;
}
.linkedin-share-button-icon {
  position: absolute;
  margin-left: 9px;
  margin-top: 12px;
  font-size: 22px;
  font-weight: 400;
  color: #FFF;
}
.linkedin-share-button-over {
  background: none repeat scroll 0 0 #4875B4;
  border-left: 1px dotted #FFFFFF;
  color: #FFFFFF !important;
  font-family: 'Ubuntu',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 25px;
  line-height: 22px;
  margin-left: 40px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 2px;
  position: absolute;
  text-align: left;
  text-transform: capitalize;
  transition: all 0.4s ease-in-out 0s;
  width: 190px;
  z-index: 150;
}
.linkedin-share-button:hover .linkedin-share-button-over {
  margin-left: 230px;
  transition: all 0.4s ease-in-out 0s;
}
.linkedin-share-button-inner {
  display: block;
  margin-left: 70px !important;
  margin-top: 14px !important;
  position: absolute;
  top: 0;
  z-index: 10;
}

#footer {
  position: relative;
  background: #1e1e1e url(../../img/contact_bg_pattern.png) center -300px repeat-x;
padding: 20px;
  border-top: 1px solid #1d1d3b;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.5) inset;
}
.copyright {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #AAA;
  text-shadow: 1px 1px 0 #000;
  line-height: 32px;
}

.top-arrow {
  background-color: #273C67;
  width: 70px;
  height: 55px;
  position: absolute;
  top: -1px;
  left: 48%;
  border-radius: 0 0 65px 65px;
  text-align: center;
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.7);
}
.top-arrow i {
  font-size: 48px;
  color: #1D1D3B;
  text-shadow: 0 1px 0 rgba(255,188,191,0.2);
}
.top-arrow a, .top-arrow a:hover { text-decoration: none; outline: none }

.social-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social-links li {
  float: left;
  margin-right: 12px;
}
.social-links li span {
  font-size: 32px;
  text-shadow: 1px 1px 0 #000;
}
.social-links li a { text-decoration: none }
.social-links li.sl-facebook a { color: #3B5998 }
.social-links li.sl-twitter a { color: #33CCFF }
.social-links li.sl-linkedin a { color: #4875B4 }
.social-links li.sl-delicious a { color: #3274D1 }
.social-links li.sl-instagram a { color: #4E433C }
.social-links li.sl-foursquare a { color: #0072B1 }

/* Misc. */
.section-divider {
  margin-top: 40px;
  margin-bottom: 40px;
}
.divider {
  background: url(../../img/br-white.png) repeat-x scroll center 55% transparent;
  height: 64px;
}
.divider-icon {
  font-size: 64px;
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}
.divider-text {
  color: #ffbcbf;
  font-family: 'Ubuntu', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
#about .divider-text {
  text-shadow: 1px 1px 0 rgba(255,188,191,0.2);
  color: #821D32;
}

/* Animations Related */
.bounceIn {
  animation: bounceIn 2s 1;
  -webkit-animation: bounceIn 2s 1;
}
.bounceInLeft {
  animation: bounceInLeft 2s 1;
  -webkit-animation: bounceInLeft 2s 1;
}
.bounceInRight {
  animation: bounceInRight 2s 1;
  -webkit-animation: bounceInRight 2s 1;
}
.bounceInUp {
  animation: bounceInUp 2s 1;
  -webkit-animation: bounceInUp 2s 1;
}
.bounceInDown {
  animation: bounceInDown 2s 1;
  -webkit-animation: bounceInDown 2s 1;
}
.bounceOutRight {
  animation: bounceOutRight 2s 1;
  -webkit-animation: bounceOutRight 2s 1;
}
.fadeIn {
  animation: fadeIn 2s 1;
  -webkit-animation: fadeIn 2s 1;
}
.fadeInLeft {
  animation: fadeInLeft 2s 1;
  -webkit-animation: fadeInLeft 2s 1;
}
.flipInX {
  animation: flipInX 2s 1;
  -webkit-animation: flipInX 2s 1;
}
.rotateIn {
  animation: rotateIn 1s 1;
  -webkit-animation: rotateIn 1s 1;
}

/* ROLL LINKS */
.about-link {
  color: #FEAB58;
  font-weight: bold;
  text-decoration:none;
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  -webkit-perspective: 600px;
     -moz-perspective: 600px;
     -ms-perspective: 600px;
     perspective: 600px;

  -webkit-perspective-origin: 50% 50%;
     -moz-perspective-origin: 50% 50%;
     -ms-perspective-origin: 50% 50%;
     perspective-origin: 50% 50%;
}

.about-link:hover {
  text-decoration:none;
}

.about-link span {
  display: block;
  position: relative;
  padding: 0 2px;
  -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
  
  -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  
  -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.about-link:hover span {
  background: #FEAB58;
  -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    -ms-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
}

.about-link span:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 2px;
  color: #D82546;
  background: #FEAB58;

  -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;

  -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
     -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
     -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
     transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}

.slabtexted .slabtext{
  display:-moz-inline-box;display:inline-block;white-space:nowrap
}
.slabtextinactive .slabtext{
  display:inline;
  white-space:normal;
  font-size:1em !important;
  letter-spacing:inherit !important;
  word-spacing:inherit !important;
  *letter-spacing:0 !important;
  *word-spacing:0 !important;
}
.slabtextdone .slabtext{
  display:block;line-height:0.9;
}

@media (max-width: 767px) {
  body {
   padding : 0;
 }
}
@media (max-width: 767px) {
 .navbar .brand {
  font-size: 21px;
 }
}